@if(!person){
<div class="alert alert-danger text-center">
    No Person Details!
</div>
}@else{
<table class="table table-bordered">
    <caption class="caption-top fw-bold bg-primary text-light text-center">
        Person Details
    </caption>
    <tr>
        <td class="fw-semibold text-end">First Name</td>
        <td class="ps-2">{{ person.first_name }}</td>
    </tr>
    <tr>
        <td class="fw-semibold text-end">Last Name</td>
        <td class="ps-2">{{ person.last_name }}</td>
    </tr>
    <tr>
        <td class="fw-semibold text-end">Age</td>
        <td class="ps-2">{{ person.age }}</td>
    </tr>
    <tr>
        <td class="fw-semibold text-end">Email</td>
        <td class="ps-2">{{ person.email }}</td>
    </tr>
    @if(isPerson()){
    <tr>
        <td class="fw-semibold text-end">Address</td>
        <td class="ps-2">{{ person["address"] }}</td>
    </tr>
    }
    @if(isEPerson()){
    <tr>
        <td class="fw-semibold text-end">Marital Status</td>
        <td class="ps-2">{{ person["marital_status"] }}</td>
    </tr>
    }

</table>
}