@if(!person){
<div class="alert alert-danger text-center">
    No Person Details!
</div>
}@else{
<table class="table table-bordered w-50">
    <caption class="caption-top fw-bold bg-primary text-light text-center">
        Person Details
    </caption>
    <tr>
        <td class="fw-semibold text-end">First Name</td>
        <td class="ps-2">{{ person.firstName }}</td>
    </tr>
    <tr>
        <td class="fw-semibold text-end">Last Name</td>
        <td class="ps-2">{{ person.lastName }}</td>
    </tr>
    <tr>
        <td class="fw-semibold text-end">Age</td>
        <td class="ps-2">{{ person.age }}</td>
    </tr>
    <tr>
        <td class="fw-semibold text-end">Email</td>
        <td class="ps-2">{{ person.email }}</td>
    </tr>
    <tr>
        <td class="fw-semibold text-end">Address</td>
        <td class="ps-2">{{ person.email }}</td>
    </tr>
</table>
}