<nav class="navbar navbar-dark bg-primary justify-content-between">
    <a role="button" class="navbar-brand ms-3" routerLink="">
        <strong>Coding Factory 5 - Angular Introduction</strong>
    </a>

    @if (user()) {
    <span class="me-3 d-flex gap-2 text-light">
        Welcome, {{ user().fullName }}
        <mat-icon role="button" (click)="logout()">
            logout
        </mat-icon>
    </span>
    } @else {
    <span class="text-light me-3 d-flex gap-2 align-items-center">
        Login
        <mat-icon role="button" class="icon-link-hover" routerLink="login">
            login
        </mat-icon>
    </span>
    }
</nav>