<h4>Event Bind Example</h4>
<div class="d-flex flex-column gap-2 w-25">
    <div class="d-flex gap-2 align-items-center">
        <button class="btn btn-primary btn-sm flex-grow-1" (click)="decrementTimes()">
            -
        </button>
        <span>{{ times }}</span>
        <button class="btn btn-primary btn-sm flex-grow-1" (click)="incrementTimes()">
            +
        </button>
    </div>
    <button class="btn btn-primary btn-sm" (click)="resetTimes()">Reset</button>

</div>

<div class="mt-2 mb-2 d-flex flex-column gap-2 w-25">
    <input class="form-control" aria-label="form-control" (input)="onUserInput($event)" />
    @if(!userInput){
    <span class="text-danger">No User Input</span>
    }@else{
    <span class="text-bg-info p-2 text-truncate">{{userInput}}</span>
    }
</div>