<div class="container ">
  <h3>Welcome to Angular</h3>
  <p>Hello <strong>{{name}}</strong>! Nice to meet you.</p>

  <app-event-bind-example></app-event-bind-example>

  <h4>Component Input Example</h4>
  <div class="d-flex gap-5 text-wrap">
    <app-person-table [person]="person0"></app-person-table>
    <app-person-table [person]="person1"></app-person-table>
    <app-person-table></app-person-table>
  </div>

  <h4>{{"@for"}}Directive Example</h4>
  <div class="d-flex flex-wrap text-nowrap gap-2">
    @for(user of users; track user){
    <app-person-table [person]="user"></app-person-table>
    }
  </div>
</div>