<div class="container ">
  <div class="d-flex flex-column  gap-2">
    <nav class="navbar navbar-dark bg-primary justify-content-between">
      <a role="button" class="navbar-brand ms-3" routerLink="/">Coding Factory V - Angular Introduction</a>
    </nav>

    <div class="d-flex flex-row gap-2">
      <div class="d-flex flex-column  text-nowrap bg-light p-2">
        <span role="button">Component Input Example</span>
        <span role="button">{{"for"}} Directive Example</span>
        <span role="button" routerLink="event-bind-example">Event Bind Example</span>
      </div>
      <div class="flex-grow-1 p-2 text-nowrap">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>