<div class="container ">
  <h3>Welcome to Angular</h3>
  <p>Hello <strong>{{name}}</strong>! Nice to meet you.</p>

  <table class="table table-bordered w-50">
    <caption class="caption-top fw-bold bg-primary text-light text-center">
      Person Details
    </caption>
    <tr>
      <td class="fw-semibold text-end">First Name</td>
      <td class="ps-2">{{ person.firstName }}</td>
    </tr>
    <tr>
      <td class="fw-semibold text-end">Last Name</td>
      <td class="ps-2">{{ person.lastName }}</td>
    </tr>
    <tr>
      <td class="fw-semibold text-end">Age</td>
      <td class="ps-2">{{ person.age }}</td>
    </tr>
    <tr>
      <td class="fw-semibold text-end">Email</td>
      <td class="ps-2">{{ person.email }}</td>
    </tr>
  </table>
</div>