<table class="table table-bordered table-hover text-wrap">
    <thead>
        <tr class="align-middle text-center small table-primary">
            <th role="button" (click)="sortData('firstName')">
                First Name {{ sortSign("firstName") }}
            </th>
            <th role="button" (click)="sortData('lastName')">
                Last Name {{ sortSign("lastName") }}
            </th>
            <th role="button" (click)="sortData('age')">Age {{ sortSign("age") }}</th>
            <th role="button" (click)="sortData('email')" class="d-none d-lg-table-cell">
                Email {{ sortSign("email") }}
            </th>
            <th role="button" (click)="sortData('education')" class="d-none d-lg-table-cell">
                Education {{ sortSign("education") }}
            </th>
        </tr>
    </thead>
    <tbody>
        @for (row of data; track row) {
        <tr class="align-middle" (dblclick)="onPersonClicked(row)">
            <td role="button">{{ row.firstName }}</td>
            <td role="button">{{ row.lastName }}</td>
            <td role="button">{{ row.age }}</td>
            <td role="button" class="d-none d-lg-table-cell">{{ row.email }}</td>
            <td role="button" class="d-none d-lg-table-cell">{{ row.education }}</td>
        </tr>
        }
    </tbody>
</table>