<table class="table table-bordered table-striped text-wrap">
    <thead>
        <tr class="align-middle text-center small">
            <th role="button" (click)="sortData('first_name')">
                First Name {{ sortSign("first_name") }}
            </th>
            <th role="button" (click)="sortData('last_name')">
                Last Name {{ sortSign("last_name") }}
            </th>
            <th role="button" (click)="sortData('age')">Age {{ sortSign("age") }}</th>
            <th role="button" (click)="sortData('email')" class="d-none d-lg-table-cell">
                Email {{ sortSign("email") }}
            </th>
            <th role="button" (click)="sortData('marital_status')" class="d-none d-lg-table-cell">
                Marital Status {{ sortSign("marital_status") }}
            </th>
        </tr>
    </thead>
    <tbody>
        @for (row of data; track row) {
        <tr class="align-middle">
            <td>{{ row.first_name }}</td>
            <td>{{ row.last_name }}</td>
            <td>{{ row.age }}</td>
            <td class="d-none d-lg-table-cell">{{ row.email }}</td>
            <td class="d-none d-lg-table-cell">{{ row.marital_status }}</td>
        </tr>
        }
    </tbody>
</table>